[% WRAPPER 'include/layout.tt' %]

<hr class="space">

<div class="span-15 colborder">
    <h1>Nagoya.pm - 名古屋 Perl Mongers</h1>
    
    <p>Nagoya.pm と 名古屋でPerl をゆるく語る会 を開催しています</p>

    <h2>Nagoya.pm</h2>
    
    <ul>
      <li>2012/11/17(土) 13:30〜16:40 <a href="http://partake.in/events/09661574-5a48-4465-a7c3-366e7e4a41d0">Nagoya.pm #08</a></li>
      <li>2012/09/09(日) 13:30〜16:40 <a href="http://partake.in/events/d5d6726c-804d-4bc8-b0dc-f02c177ad52c">Nagoya.pm #07</a></li>
      <li>2012/07/08(日) 13:30〜16:40 <a href="http://partake.in/events/d03d9497-4e4f-4f8c-a37e-5ce28d44cca7">Nagoya.pm #06</a></li>
      <li>2012/05/19(土) 13:30〜17:00 <a href="http://bit.ly/AkoUDB">Nagoya.pm #05</a></li>
      <li>2012/03/03(土) 13:30〜17:00 <a href="http://bit.ly/wBfWMX">Nagoya.pm #04</a></li>
      <li>2012/01/14(土) 13:30〜17:00 <a href="http://bit.ly/urNyZ1">Nagoya.pm #03</a></li>
      <li>2011/11/20(日) 13:30〜17:00 <a href="http://bit.ly/nAIbPr">Nagoya.pm #02</a></li>
      <li>2011/09/17(土) 13:00〜17:00 <a href="http://bit.ly/nOVzph">Nagoya.pm #01</a></li>
    </ul>

    <h2>名古屋で Perl をゆるく語る会</h2>

    <ul>
      <li>2012/04/07(土) 14:00〜16:00 <a href="http://bit.ly/ydVpe4">Perl をゆるく語る回 #18</a></li>
      <li>2012/02/18(土) 15:00〜17:00 <a href="http://bit.ly/xlmlTt">Perl をゆるく語る会 #17</a></li>
      <li>2011/12/17(土) 15:00〜17:00 <a href="http://bit.ly/t0rOfj">Perl をゆるく語る会 #16</a></li>
      <li>2011/10/22(土) 15:00〜17:00 <a href="http://bit.ly/rtKJZS">Perl をゆるく語る会 #15</a></li>
      <li>2011/08/06(土) 15:00〜17:00 <a href="http://bit.ly/padRBe">Perl をゆるく語る会 #14</a></li>
      <li>2011/07/09(土) 15:00〜17:00 <a href="http://bit.ly/lX2mI5">Perl をゆるく語る会 #13</a></li>
      <li>2011/06/11(土) 15:00〜17:00 <a href="http://bit.ly/mkhmgp">Perl をゆるく語る会 #12</a></li>
      <li>2011/05/21(土) 15:00〜17:00 <a href="http://bit.ly/hDG19q">Perl をゆるく語る会 #11</a></li>
      <li>2011/04/23(土) 15:00〜      <a href="http://bit.ly/gKTEFc">Perl をゆるく語る会 #10</a></li>
      <li>2011/03/19(土) 12:00〜15:00 <a href="http://bit.ly/fWHJWZ">Perl をゆるく語る会 #09</a></li>
      <li>2011/02/12(土) 12:00〜      <a href="http://bit.ly/gr0thx">Perl をゆるく語る会 #08</a></li>

      <li>2010/11/20(土) 11:30〜15:00 <a href="http://atnd.org/events/9491">Perl をゆるく語る会</a></li>
      <li>2010/10/30(土) 11:30〜15:00 <a href="http://atnd.org/events/8147">Perl をゆるく語る会</a></li>
      <li>2010/09/18(土) 11:30〜15:00 <a href="http://atnd.org/events/7492">Perl をゆるく語る会</a></li>
      <li>2010/08/22(日) 17:00〜15:00 <a href="http://atnd.org/events/6923">Perl をゆるく語る会</a></li>
      <li>2010/07/31(土) 11:00〜14:00 <a href="http://atnd.org/events/6593">Perl をゆるく語る会</a></li>
    </ul>

</div>
<div class="span-8 last">
    <h2>Links</h2>
    <h3>Nagoya.pm</h3>
    <ul>
      <li><a href="http://mail.pm.org/mailman/listinfo/nagoya-pm/">Nagoya.pm ML</a></li>
      <li>irc : #nagoya.pm@freenode</li>
      <li><a href="https://twitter.com/#!/search?q=%23nagoyapm">#nagoyapm</a></li>
    </ul>

    <h3>yuruperl</h3>
    <ul>
      <li><a href="http://groups.google.co.jp/group/yuruperl-nagoya/">yuruperl Google Group</a></li>
      <li>irc : #yuruperl@freenode</li>
      <li><a href="https://twitter.com/#!/search?q=%23yuruperl">#yuruperl</a></li>
    </ul>

    <h3>Other</h3>
    <ul>
      <li><a href="https://groups.google.com/group/dstokai?hl=ja">DSTokai</a></li>
    </ul>
    
    <h3>Author</h3>
    <ul>
      <li><a href="mailto:clairvy@gmail.com">clairvy@gmail.com</a></li>
      <li><a href="https://twitter.com/#!/clairvy">@clairvy</a></li>
    </ul>
</div>

<hr class="space">

[% END %]
